.main {
    width: 100vw;
    background: url(https://i.pinimg.com/originals/8c/29/10/8c2910152800d185e1fa1ee9404334ce.jpg) no-repeat;
    background-size: cover;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #574E57;
}
.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 30px;
}
.main__header {
    font-size: 4rem;
    font-weight: 700;
    font-style: italic; 
}
.main__header,
#img-div, 
#tribute-info {
    text-align: center;
    width: 65%;
    margin: 0.5rem auto;
    background-color: rgba(249,183,197, 0.6);
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 0 8px 3px rgba(249,183,197, 0.8);
}
#image {
    box-sizing: border-box;
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    border-radius: 10rem;
    box-shadow: 0 0 28px 30px rgba(249,183,197, 0.9);
}
